/LM-train-100MW.txt
/LM-train-100MW.txt.gz
.*project
bin/*.py
bin/train
bin/predict
bin/svm-train
bin/svm-predict
src/liblinear-1.96
src/libsvm*
*.pyc
.DS_Store
run/eval.*
run/target.*
run/RUN*
run/attic
